@page "/"
@addTagHelper *, Vite.AspNetCore

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="favicon.png" />
    <title>Top11</title>
</head>
<body>
    <h1>Top11</h1>
    <p>Welcome to Top11</p>
    <div id="app"></div>
</body>
</html>

<link rel="stylesheet" vite-href="~/main.js" asp-append-version="true" />
<script type="module" vite-src="~/main.js" asp-append-version="true"></script>
