@page "/"
@addTagHelper *, Vite.AspNetCore

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="favicon.png" />
    <title>Top11</title>
</head>
<body>
    <div id="app"></div>
</body>
</html>

<script type="module" vite-src="~/main.ts" asp-append-version="true"></script>
